.container{
    width: 80%;
    height: 100vh;
    padding: 50px;
    margin: auto;
    background-color: cyan;

}
.row{
    display: flex;
}
.card{
    width: 10%;
    height: 60px;
    border: 2px solid black;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card>span{
    font-weight: bolder;
    font-size: 1.5rem;
}
.display_none{
    visibility:hidden;
   
}